<br>
<h5>My account details: </h5>
<p>Name: <%= @current_user[:name] %></p>
<p>User ID: <%= @current_user[:user_id] %></p>

<p>Saved listings: </p>
<p><%=  link_to 'Delete my account', '/users', method: :delete%></p>
