---
http_interactions:
- request:
    method: get
    uri: https://customsearch.googleapis.com/customsearch/v1?cx=<cx>&imgColorType=color&imgDominantColor=IMG_DOMINANT_COLOR_UNDEFINED&imgSize=LARGE&imgType=photo&key=<key>&num=1&q=2015%20kia%20sorento&searchType=image
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "customsearch#search",
          "url": {
            "type": "application/json",
            "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
          },
          "queries": {
            "request": [
              {
                "title": "Google Custom Search - 2015 kia sorento",
                "totalResults": "164000000",
                "searchTerms": "2015 kia sorento",
                "count": 1,
                "startIndex": 1,
                "inputEncoding": "utf8",
                "outputEncoding": "utf8",
                "safe": "off",
                "cx": "<cx>",
                "searchType": "image",
                "imgSize": "large",
                "imgType": "photo",
                "imgColorType": "color"
              }
            ],
            "nextPage": [
              {
                "title": "Google Custom Search - 2015 kia sorento",
                "totalResults": "164000000",
                "searchTerms": "2015 kia sorento",
                "count": 1,
                "startIndex": 2,
                "inputEncoding": "utf8",
                "outputEncoding": "utf8",
                "safe": "off",
                "cx": "<cx>",
                "searchType": "image",
                "imgSize": "large",
                "imgType": "photo",
                "imgColorType": "color"
              }
            ]
          },
          "context": {
            "title": "market-map-images"
          },
          "searchInformation": {
            "searchTime": 0.508119,
            "formattedSearchTime": "0.51",
            "totalResults": "164000000",
            "formattedTotalResults": "164,000,000"
          },
          "items": [
            {
              "kind": "customsearch#result",
              "title": "2015 Kia Sorento Review & Ratings | Edmunds",
              "htmlTitle": "\u003cb\u003e2015 Kia Sorento\u003c/b\u003e Review &amp; Ratings | Edmunds",
              "link": "https://media.ed.edmunds-media.com/kia/sorento/2015/oem/2015_kia_sorento_4dr-suv_sx_fq_oem_1_600.jpg",
              "displayLink": "www.edmunds.com",
              "snippet": "2015 Kia Sorento Review & Ratings | Edmunds",
              "htmlSnippet": "\u003cb\u003e2015 Kia Sorento\u003c/b\u003e Review &amp; Ratings | Edmunds",
              "mime": "image/jpeg",
              "fileFormat": "image/jpeg",
              "image": {
                "contextLink": "https://www.edmunds.com/kia/sorento/2015/review/",
                "height": 400,
                "width": 600,
                "byteSize": 65728,
                "thumbnailLink": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4Ce2wJB3Tmkxx3oBH_r5d_d_UZyAegDd2KQREwj6qdWYjEaZz-JEImQ&s",
                "thumbnailHeight": 90,
                "thumbnailWidth": 135
              }
            }
          ]
        }
  recorded_at: Mon, 28 Mar 2022 19:14:23 GMT
recorded_with: VCR 6.1.0
