---
http_interactions:
- request:
    method: get
    uri: https://customsearch.googleapis.com/customsearch/v1?cx=<cx>&imgColorType=color&imgDominantColor=IMG_DOMINANT_COLOR_UNDEFINED&imgSize=LARGE&imgType=photo&key=<key>&num=1&q=2015%20kia%20sorento&searchType=image
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "customsearch#search",
          "url": {
            "type": "application/json",
            "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
          },
          "queries": {
            "request": [
              {
                "title": "Google Custom Search - 2015 kia sorento",
                "totalResults": "172000000",
                "searchTerms": "2015 kia sorento",
                "count": 1,
                "startIndex": 1,
                "inputEncoding": "utf8",
                "outputEncoding": "utf8",
                "safe": "off",
                "cx": "<cx>",
                "searchType": "image",
                "imgSize": "large",
                "imgType": "photo",
                "imgColorType": "color"
              }
            ],
            "nextPage": [
              {
                "title": "Google Custom Search - 2015 kia sorento",
                "totalResults": "172000000",
                "searchTerms": "2015 kia sorento",
                "count": 1,
                "startIndex": 2,
                "inputEncoding": "utf8",
                "outputEncoding": "utf8",
                "safe": "off",
                "cx": "<cx>",
                "searchType": "image",
                "imgSize": "large",
                "imgType": "photo",
                "imgColorType": "color"
              }
            ]
          },
          "context": {
            "title": "market-map-images"
          },
          "searchInformation": {
            "searchTime": 0.400493,
            "formattedSearchTime": "0.40",
            "totalResults": "172000000",
            "formattedTotalResults": "172,000,000"
          },
          "items": [
            {
              "kind": "customsearch#result",
              "title": "2015 Kia Sorento Prices, Reviews, & Pictures | U.S. News",
              "htmlTitle": "\u003cb\u003e2015 Kia Sorento\u003c/b\u003e Prices, Reviews, &amp; Pictures | U.S. News",
              "link": "https://cars.usnews.com/static/images/Auto/izmo/i4761/2015_kia_sorento_angularfront.jpg",
              "displayLink": "cars.usnews.com",
              "snippet": "2015 Kia Sorento Prices, Reviews, & Pictures | U.S. News",
              "htmlSnippet": "\u003cb\u003e2015 Kia Sorento\u003c/b\u003e Prices, Reviews, &amp; Pictures | U.S. News",
              "mime": "image/jpeg",
              "fileFormat": "image/jpeg",
              "image": {
                "contextLink": "https://cars.usnews.com/cars-trucks/kia/sorento/2015",
                "height": 480,
                "width": 640,
                "byteSize": 35771,
                "thumbnailLink": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk0gOXvlOZUyZIy5NqGgO3B1rFUdaxd6vEUOUxlmJ38QHG7WlqYvC0eg&s",
                "thumbnailHeight": 103,
                "thumbnailWidth": 137
              }
            }
          ]
        }
  recorded_at: Fri, 04 Mar 2022 04:56:58 GMT
recorded_with: VCR 6.0.0
