---
http_interactions:
- request:
    method: get
    uri: https://customsearch.googleapis.com/customsearch/v1?cx=<cx>&imgColorType=color&imgDominantColor=blue&imgSize=LARGE&imgType=photo&key=<key>&num=1&q=2015%20kia%20sorento&searchType=image
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "customsearch#search",
          "url": {
            "type": "application/json",
            "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
          },
          "queries": {
            "request": [
              {
                "title": "Google Custom Search - 2015 kia sorento",
                "totalResults": "40500000",
                "searchTerms": "2015 kia sorento",
                "count": 1,
                "startIndex": 1,
                "inputEncoding": "utf8",
                "outputEncoding": "utf8",
                "safe": "off",
                "cx": "<cx>",
                "searchType": "image",
                "imgSize": "large",
                "imgType": "photo",
                "imgColorType": "color",
                "imgDominantColor": "blue"
              }
            ],
            "nextPage": [
              {
                "title": "Google Custom Search - 2015 kia sorento",
                "totalResults": "40500000",
                "searchTerms": "2015 kia sorento",
                "count": 1,
                "startIndex": 2,
                "inputEncoding": "utf8",
                "outputEncoding": "utf8",
                "safe": "off",
                "cx": "<cx>",
                "searchType": "image",
                "imgSize": "large",
                "imgType": "photo",
                "imgColorType": "color",
                "imgDominantColor": "blue"
              }
            ]
          },
          "context": {
            "title": "market-map-images"
          },
          "searchInformation": {
            "searchTime": 0.273012,
            "formattedSearchTime": "0.27",
            "totalResults": "40500000",
            "formattedTotalResults": "40,500,000"
          },
          "items": [
            {
              "kind": "customsearch#result",
              "title": "Used 2015 Kia Sorento for Sale Near Me | Edmunds",
              "htmlTitle": "Used \u003cb\u003e2015 Kia Sorento\u003c/b\u003e for Sale Near Me | Edmunds",
              "link": "https://media.ed.edmunds-media.com/for-sale/30-5xykt4a64fg560469/img-1-600x400.jpg",
              "displayLink": "www.edmunds.com",
              "snippet": "Used 2015 Kia Sorento for Sale Near Me | Edmunds",
              "htmlSnippet": "Used \u003cb\u003e2015 Kia Sorento\u003c/b\u003e for Sale Near Me | Edmunds",
              "mime": "image/jpeg",
              "fileFormat": "image/jpeg",
              "image": {
                "contextLink": "https://www.edmunds.com/kia/sorento/2015/",
                "height": 400,
                "width": 600,
                "byteSize": 43046,
                "thumbnailLink": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKQ4hbU9K3FDjI5Z-GY8VUVV4xSqRmwgOJIrIuNGHSTh6_fruYG5_Ltlw&s",
                "thumbnailHeight": 90,
                "thumbnailWidth": 135
              }
            }
          ]
        }
  recorded_at: Sat, 26 Feb 2022 22:57:56 GMT
recorded_with: VCR 6.0.0
