---
http_interactions:
- request:
    method: get
    uri: https://customsearch.googleapis.com/customsearch/v1?cx=<cx>&imgColorType=color&imgDominantColor=red&imgSize=LARGE&imgType=photo&key=<key>&num=1&q=%26D*%5E$T%26%5E%23%26%25$7625hdfsjjk&searchType=image
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "customsearch#search",
          "url": {
            "type": "application/json",
            "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
          },
          "queries": {
            "request": [
              {
                "title": "Google Custom Search - &D*^$T&^#&%$7625hdfsjjk",
                "searchTerms": "&D*^$T&^#&%$7625hdfsjjk",
                "count": 1,
                "startIndex": 1,
                "inputEncoding": "utf8",
                "outputEncoding": "utf8",
                "safe": "off",
                "cx": "<cx>",
                "searchType": "image",
                "imgSize": "large",
                "imgType": "photo",
                "imgColorType": "color",
                "imgDominantColor": "red"
              }
            ]
          },
          "searchInformation": {
            "searchTime": 0.230011,
            "formattedSearchTime": "0.23",
            "totalResults": "0",
            "formattedTotalResults": "0"
          },
          "spelling": {
            "correctedQuery": "d&D*^$T&^#&%$7625hdfs jjk",
            "htmlCorrectedQuery": "\u003cb\u003e\u003ci\u003ed&amp;D\u003c/i\u003e\u003c/b\u003e*^$T&amp;^#&amp;%$7625\u003cb\u003e\u003ci\u003ehdfs jjk\u003c/i\u003e\u003c/b\u003e"
          }
        }
  recorded_at: Fri, 04 Mar 2022 04:56:59 GMT
recorded_with: VCR 6.0.0
