---
http_interactions:
- request:
    method: get
    uri: https://customsearch.googleapis.com/customsearch/v1?cx=<cx>&imgColorType=color&imgDominantColor=gray&imgSize=LARGE&imgType=photo&key=<key>&num=1&q=2015%20Honda%20Civic&searchType=image
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "customsearch#search",
          "url": {
            "type": "application/json",
            "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
          },
          "queries": {
            "request": [
              {
                "title": "Google Custom Search - 2015 Honda Civic",
                "totalResults": "611000000",
                "searchTerms": "2015 Honda Civic",
                "count": 1,
                "startIndex": 1,
                "inputEncoding": "utf8",
                "outputEncoding": "utf8",
                "safe": "off",
                "cx": "<cx>",
                "searchType": "image",
                "imgSize": "large",
                "imgType": "photo",
                "imgColorType": "color",
                "imgDominantColor": "gray"
              }
            ],
            "nextPage": [
              {
                "title": "Google Custom Search - 2015 Honda Civic",
                "totalResults": "611000000",
                "searchTerms": "2015 Honda Civic",
                "count": 1,
                "startIndex": 2,
                "inputEncoding": "utf8",
                "outputEncoding": "utf8",
                "safe": "off",
                "cx": "<cx>",
                "searchType": "image",
                "imgSize": "large",
                "imgType": "photo",
                "imgColorType": "color",
                "imgDominantColor": "gray"
              }
            ]
          },
          "context": {
            "title": "market-map-images"
          },
          "searchInformation": {
            "searchTime": 0.527402,
            "formattedSearchTime": "0.53",
            "totalResults": "611000000",
            "formattedTotalResults": "611,000,000"
          },
          "items": [
            {
              "kind": "customsearch#result",
              "title": "2015 Honda Civic Ratings, Pricing, Reviews and Awards | J.D. Power",
              "htmlTitle": "\u003cb\u003e2015 Honda Civic\u003c/b\u003e Ratings, Pricing, Reviews and Awards | J.D. Power",
              "link": "https://cdn.jdpower.com/Models/640x480/2015-Honda-CivicCoupe-EX-L.jpg",
              "displayLink": "www.jdpower.com",
              "snippet": "2015 Honda Civic Ratings, Pricing, Reviews and Awards | J.D. Power",
              "htmlSnippet": "\u003cb\u003e2015 Honda Civic\u003c/b\u003e Ratings, Pricing, Reviews and Awards | J.D. Power",
              "mime": "image/jpeg",
              "fileFormat": "image/jpeg",
              "image": {
                "contextLink": "https://www.jdpower.com/cars/2015/honda/civic",
                "height": 480,
                "width": 640,
                "byteSize": 29347,
                "thumbnailLink": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVttd8gVpc70aVNf-1WCcCwmOG9uLK4P2R6lnEZ66I3QmyLu_dOZAlkw&s",
                "thumbnailHeight": 103,
                "thumbnailWidth": 137
              }
            }
          ]
        }
  recorded_at: Sun, 27 Feb 2022 01:21:34 GMT
[...]
