---
http_interactions:
- request:
    method: get
    uri: https://customsearch.googleapis.com/customsearch/v1?cx=<cx>&imgColorType=color&imgDominantColor=blue&imgSize=LARGE&imgType=photo&key=<key>&num=1&q=2015%20kia%20sorrento&searchType=image
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "customsearch#search",
          "url": {
            "type": "application/json",
            "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
          },
          "queries": {
            "request": [
              {
                "title": "Google Custom Search - 2015 kia sorrento",
                "totalResults": "31200000",
                "searchTerms": "2015 kia sorrento",
                "count": 1,
                "startIndex": 1,
                "inputEncoding": "utf8",
                "outputEncoding": "utf8",
                "safe": "off",
                "cx": "<cx>",
                "searchType": "image",
                "imgSize": "large",
                "imgType": "photo",
                "imgColorType": "color",
                "imgDominantColor": "blue"
              }
            ],
            "nextPage": [
              {
                "title": "Google Custom Search - 2015 kia sorrento",
                "totalResults": "31200000",
                "searchTerms": "2015 kia sorrento",
                "count": 1,
                "startIndex": 2,
                "inputEncoding": "utf8",
                "outputEncoding": "utf8",
                "safe": "off",
                "cx": "<cx>",
                "searchType": "image",
                "imgSize": "large",
                "imgType": "photo",
                "imgColorType": "color",
                "imgDominantColor": "blue"
              }
            ]
          },
          "context": {
            "title": "market-map-images"
          },
          "searchInformation": {
            "searchTime": 0.413576,
            "formattedSearchTime": "0.41",
            "totalResults": "31200000",
            "formattedTotalResults": "31,200,000"
          },
          "spelling": {
            "correctedQuery": "2015 kia sorento",
            "htmlCorrectedQuery": "2015 kia \u003cb\u003e\u003ci\u003esorento\u003c/i\u003e\u003c/b\u003e"
          },
          "items": [
            {
              "kind": "customsearch#result",
              "title": "2015 Kia Sorento for Sale in Whitewater, WI - Russ Darrow Kia of ...",
              "htmlTitle": "\u003cb\u003e2015 Kia Sorento\u003c/b\u003e for Sale in Whitewater, WI - Russ Darrow \u003cb\u003eKia\u003c/b\u003e of ...",
              "link": "https://www.kiaofwaukesha.com/resrc/media/image/222266/cm-header-15-sorento.jpg",
              "displayLink": "www.kiaofwaukesha.com",
              "snippet": "2015 Kia Sorento for Sale in Whitewater, WI - Russ Darrow Kia of ...",
              "htmlSnippet": "\u003cb\u003e2015 Kia Sorento\u003c/b\u003e for Sale in Whitewater, WI - Russ Darrow \u003cb\u003eKia\u003c/b\u003e of ...",
              "mime": "image/jpeg",
              "fileFormat": "image/jpeg",
              "image": {
                "contextLink": "https://www.kiaofwaukesha.com/2015-kia-sorento-whitewater/",
                "height": 400,
                "width": 960,
                "byteSize": 183559,
                "thumbnailLink": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmkXLiR-_8rl5pRzrhm-ya-vlMpO0Evuj_MrH6jqHTxzg5QXxiG-O1wQs&s",
                "thumbnailHeight": 62,
                "thumbnailWidth": 148
              }
            }
          ]
        }
  recorded_at: Tue, 01 Mar 2022 19:05:09 GMT
recorded_with: VCR 6.0.0
