---
http_interactions:
- request:
    method: get
    uri: https://customsearch.googleapis.com/customsearch/v1?cx=<cx>&imgColorType=color&imgDominantColor=blue&imgSize=LARGE&imgType=photo&key=<key>&num=1&q=2015%20kia%20sorrento&searchType=image
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 429,
            "message": "Quota exceeded for quota metric 'Queries' and limit 'Queries per day' of service 'customsearch.googleapis.com' for consumer 'project_number:501043472451'.",
            "errors": [
              {
                "message": "Quota exceeded for quota metric 'Queries' and limit 'Queries per day' of service 'customsearch.googleapis.com' for consumer 'project_number:501043472451'.",
                "domain": "global",
                "reason": "rateLimitExceeded"
              }
            ],
            "status": "RESOURCE_EXHAUSTED",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "RATE_LIMIT_EXCEEDED",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "customsearch.googleapis.com",
                  "consumer": "projects/501043472451",
                  "quota_metric": "customsearch.googleapis.com/requests",
                  "quota_limit": "DefaultPerDayPerProject"
                }
              }
            ]
          }
        }
  recorded_at: Fri, 04 Mar 2022 00:53:11 GMT
recorded_with: VCR 6.0.0
